build/
/node_modules
npm-debug.log
yarn-error.log
yarn.lock
.env
.gitignore
package-lock.json
.vscode
src/api/v1/swagger/node_modules
src/api/v1/swagger/package-lock.json
src/api/v1/swagger/log.txt
src/api/v1/swagger/start.sh
src/api/v1/swagger/up.sh
up.sh
start.sh
log.txt
uploaded
logger/recorded
dist
data
uploads
testData
DigiCertGlobalRootCA.crt.pem
.env.development.local
.env.production.local
